KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/api/auth/creation
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_SITE_URL=http://localhost:3000

# KINDE_POST_LOGIN_REDIRECT_URL=https://airbnb-clone-bz.vercel.app/api/auth/creation
# KINDE_POST_LOGOUT_REDIRECT_URL=https://airbnb-clone-bz.vercel.app
# KINDE_SITE_URL=https://airbnb-clone-bz.vercel.app

KINDE_CLIENT_ID=
KINDE_CLIENT_SECRET=
KINDE_ISSUER_URL=


NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
