@import 'tailwindcss';
@import 'tw-animate-css';
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.004 285.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.004 285.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.004 285.8);
  --primary: oklch(0.586 0.222 17.6);
  --primary-foreground: oklch(0.97 0.015 12.4);
  --secondary: oklch(0.968 0.001 286.4);
  --secondary-foreground: oklch(0.21 0.006 285.9);
  --muted: oklch(0.968 0.001 286.4);
  --muted-foreground: oklch(0.552 0.014 285.9);
  --accent: oklch(0.968 0.001 286.4);
  --accent-foreground: oklch(0.21 0.006 285.9);
  --destructive: oklch(0.637 0.208 25.3);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.92 0.004 286.3);
  --input: oklch(0.92 0.004 286.3);
  --ring: oklch(0.586 0.222 17.6);
  --chart-1: oklch(0.677 0.157 35.2);
  --chart-2: oklch(0.631 0.101 183.5);
  --chart-3: oklch(0.379 0.044 225.5);
  --chart-4: oklch(0.834 0.119 88.1);
  --chart-5: oklch(0.783 0.126 58.7);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.004 285.8);
  --sidebar-primary: oklch(0.586 0.222 17.6);
  --sidebar-primary-foreground: oklch(0.97 0.015 12.4);
  --sidebar-accent: oklch(0.968 0.001 286.4);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.9);
  --sidebar-border: oklch(0.92 0.004 286.3);
  --sidebar-ring: oklch(0.586 0.222 17.6);
}

.dark {
  --background: oklch(0.147 0.004 49.3);
  --foreground: oklch(0.962 0 0);
  --card: oklch(0.216 0.006 56);
  --card-foreground: oklch(0.962 0 0);
  --popover: oklch(0.204 0 0);
  --popover-foreground: oklch(0.962 0 0);
  --primary: oklch(0.586 0.222 17.6);
  --primary-foreground: oklch(0.97 0.015 12.4);
  --secondary: oklch(0.274 0.005 286);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.712 0.013 286.1);
  --accent: oklch(0.269 0.006 34.3);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.133 25.7);
  --destructive-foreground: oklch(0.971 0.013 17.4);
  --border: oklch(0.274 0.005 286 / 100%);
  --input: oklch(0.274 0.005 286 / 100%);
  --ring: oklch(0.586 0.222 17.6);
  --chart-1: oklch(0.529 0.193 262.1);
  --chart-2: oklch(0.698 0.134 165.5);
  --chart-3: oklch(0.723 0.15 60.6);
  --chart-4: oklch(0.619 0.204 312.7);
  --chart-5: oklch(0.612 0.209 6.4);
  --sidebar: oklch(0.216 0.006 56);
  --sidebar-foreground: oklch(0.962 0 0);
  --sidebar-primary: oklch(0.586 0.222 17.6);
  --sidebar-primary-foreground: oklch(0.97 0.015 12.4);
  --sidebar-accent: oklch(0.269 0.006 34.3);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.005 286 / 100%);
  --sidebar-ring: oklch(0.586 0.222 17.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
